/*
* Style
*/
@import url('https://fonts.googleapis.com/css?family=Bubblegum+Sans');
/*
/*
* Section - Home
*/

body {
    background-color: #252529;
    margin: 0;
    color: #fff;
    font-family: 'Bubblegum Sans', cursive;
}
.logo{
    font-size: 1.5rem
}
.content-main{
    margin-top: 30vh
}
.parallax { 
    /* The image used */
    background: url('../images/bg-home-1.jpg');

    /* Set a specific height */
    height: 100vh; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    color: #f1f1f1
}

/** BG Image */
#showcase {
    height: 100vh;
    width: 100%;
    /*background: url('../images/bg-home-1.jpg') no-repeat center/cover;*/
}
.translucent {
    background: rgb(0, 0, 0,0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); 
}

.section#about {
    background: linear-gradient(
        rgba(0, 0, 0, 0.5), 
        rgba(0, 0, 0, 0.5)
      ),url(../images/about.jpeg) no-repeat center/cover;
    padding: 10rem 0;
}

.section {
    height: 100vh;
    padding: 2rem 0;
}





/*
* Footer
*/

.footer-logo {
    max-height: 40px;
}
.footer-icon-social {
    bottom: 10px;
    position: relative;
}

/*
 * Social
 */

#social .fa{
    font-size: 3em;
    width: 1.6em;
    text-align: center;
    line-height: 1.6em;
    color: #fff;
    border-radius: 0.8em; /* or 50% width & line-height */
}

.logo-small{
    display:none;
   }
 /* Footer */
 footer .footer-cols {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    padding: 2rem;
    text-align: left;
    font-size: 14px;
  }
  
  footer .footer-cols ul {
    list-style: none;
  }
  
  footer .footer-cols ul li:first-child {
    font-size: 1.2rem;
    padding-bottom: 0.5rem;
    border-bottom: #444 solid 1px;
    margin-bottom: 1rem;
  }
  
  footer .footer-bottom {
    padding: 0.5rem;
  }


@media (max-width: 450px){
    .content-main {
        margin-top: 10vh;
    }
    .hide-on-small {
        display: none;
    }
    .section{
        height: fit-content;
    }
}


@media (max-width: 500px) {
    #social .fa{
        font-size:1em;
    }
    .content-main {
        margin-top: 10vh;
    }
    .hide-on-small {
        display: none;
    }
    .section{
        height: fit-content;
    }
}

